.MovieInfo {
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
  width: 30%;
  height: 40rem;
  border-radius: 5px;
  margin: auto;
  padding: 0.5rem;
  text-align: justify;
  overflow: scroll;
}

@media screen and (max-width: 414px) {
  .MovieInfo {
    width: 70%;
  }
}

@media screen and (min-width: 415px) and (max-width: 768px) {
  .MovieInfo {
    width: 50%;
  }
}

@media screen and (min-width: 769px) and (max-width: 1024px) {
  .MovieInfo {
    width: 40%;
  }
}
