.Pagination {
  display: inline-block;
  text-align: justify;
}

.Pagination a {
  text-decoration: none;
  color: #000;
  cursor: pointer;
  padding: 0.5rem;
}

.Pagination a:hover,
.Pagination a:active,
.Pagination a.active {
  color: #40a4c8;
  background-color: #000;
}
